@import "../../../styles/settings.scss";

.root {
  margin-top: 2rem;

  .promote {
    position: relative;
    display: flex;
    height: 486px;

    & > * {
      height: 100%;
    }

    .leftPanel:last-child {
      z-index: 0;
    }

    .rightPanel {
      height: 100%;
      display: inline-flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .heading {
      width: 100%;
      position: relative;
      display: inline-flex;
      align-items: center;
      background-color: $lightBlack;
      padding: 10px;

      h3 {
        padding-left: 10px;
        color: $pureWhite;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      .dots {
        margin-left: auto;

        ul {
          margin: 0;
          padding: 0 0 0 1rem;
          list-style: none;
          background-color: $lightBlack;
          display: flex;
          align-items: center;

          li {
            display: inline-block;
            margin-left: 0.5rem;

            a {
              display: block;
              width: 13px;
              height: 13px;
              border-radius: 6px;
              background-color: $newFurniture-dots-bg;
              font-size: 0;

              &.active,
              &:hover {
                @extend %hover;

                background-color: $primary;
              }
            }
          }
        }
      }
    }
  }
}

.fadeIn {
  animation: fade-in 250ms ease-in;
}

.fadeOut {
  animation: fade-out 250ms ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
