@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: $color-light;

  :global(.container) > :global(.row) {
    height: auto;
  }

  .product_search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
  }

  .hamburger_button {
    position: absolute;
    display: none;
  }

  .hamburger_label {
    display: none;
  }

  .icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .menu {
    align-self: stretch;
    margin: 10px 0;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
        width: auto;
      }
    }

    a {
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 4px solid $color-light;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        @extend %hover;
        background-color: $primary;
        color: $color-light;
        border-color: $primary;
        width: 100%;
      }

      &.active {
        border-color: $text-color;
      }
    }
  }
}

@media (max-width: 991px) {
  .product_search {
    display: flex;
    justify-content: center;
    order: 1;
  }
  .menu {
    justify-content: center;
    margin: 0;
    order: 0;
  }
}

@media (max-width: 576px) {
  .root {
    .product_search {
      order: 0;
      flex: 80%;
    }
    
    .hamburger_label {
      display: flex;
      flex: 20%;
    }

    .icon {
      display: block;
    }

    .hamburger_button:checked ~ .menu {
      visibility:visible;
      //max-height: 100vh;
      height: 100vh;
    }

    .menu {
      order: 1;
      visibility: collapse;
      //max-height: 0;
      height: 0;
      overflow-y: auto;

      ul {
        flex-wrap: wrap;
        border: 1px solid black;

        li {
          flex: 100%;
          width: 100vw;
          justify-content: center;
          border-bottom: 1px solid black;
        }
        li:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: 577px) {
  .product_search {
    .icon {
      display: none;
    }
  }
}
