@import '../../../styles/settings.scss';

.root {
  .wrapper {
    display: flex;
    height: 140px;
    width: 100%;
    margin: 60px auto;
    border-top: 2px solid $darkWhite;
    border-bottom: 2px solid $darkWhite;
    align-items: center;
    justify-content: space-between;
    .control {
      height: 92px;
      width: 30px;
      background: $lightBlack;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      .icon {
        color: $white;
        font-size: 15px;
      }
      &:hover {
        cursor: pointer;
        .icon {
          color: $primary;
        }
      }
    }
    .logoBox {
      width: 90%;
      margin: 0 auto;
      }
    }

    .logoFrame {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      .logo {
        border: 2px solid $darkWhite;
        padding: 10px;
        img {
          width: 100%;
        }
    }
  }
}