$base-padding: 24px;

/* COLOR LIST: DO NOT USE! */

$lightBlack: #2a2a2a;
$mediumBlack: #292929;
$black: rgba(1, 2, 2, 0.2);

$pureWhite: #fff;
$mediumWhite: #e1e1e1;
$white: #f4f5f7;
$darkWhite: #e2e2e2;

$darkOrange: #d58e32;
$lightOrange: lighten($darkOrange, 10%);
$orange: #ffa500;

$lightGray: #b6b6b6;
$gray: #434343;
$mediumGray: #363636;
$darkGray: #a9a9a9;

$lightSilver: #d8d8d8;

$hawkesBlue: #e0e3ed;

$lightGreen: #a3d841;

/* COLOR VARIABLES: TO USE */

$text-color: $lightBlack;
$color-light: $pureWhite;
$primary: $darkOrange;

$header-bg: $mediumGray;
$header-topbar-bg: $gray;

$footer-bg: $mediumGray;
$footer-text: $darkGray;
$footer-claim-bg: $lightBlack;

$featurebox-border: $lightGray;

$productbox-border: $mediumWhite;
$productbox-photo-bg: $white;
$productbox-sale-bg: $mediumBlack;
$productBox-line: $lightBlack;

$newFurniture-border: $darkWhite;
$newFurniture-dots-bg: $mediumWhite;

$form-border-color: $mediumBlack;

$phone-number: $lightSilver;
$cartBox-color: $pureWhite;
$cart-counter-color: $hawkesBlue;
$cartBox-lighten: $lightOrange;

$menuBar-box-shadow: $black;

$gallery-border: $darkWhite;
$gallery-bg: $white;
$gallery-black: $lightBlack;
$gallery-price-bg: lighten($gray, 20);
$galleryAd-green: $lightGreen;
$gallery-icon-color: $white;

$promoBox-text-lighten: $orange;

$brands-border-color: $darkWhite;
$brands-control-buton: $lightBlack;
$brands-icon-color: $white;

/* SETTINGS */

%hover {
  transition: ease 250ms;
}

/* RWD BREAKPOINTS */
$mobile-breakpoint: 575px;
$tablet-breakpoint: 767px;
$desktop-breakpoint: 991px;
