@import "../../../styles/settings.scss";

.root {
  height: 100%;

  .panel {
    position: relative;
    margin-bottom: 30px;

    :global(.row) > * {
      border-bottom: 4px solid $lightGray;
    }

    .heading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 1.3rem;
        line-height: 2.375rem;
        margin: 0;
        letter-spacing: 2.5px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }
  }

  .blog {
    margin: 25px 0;
    display: flex;
    background-color: $pureWhite;
  }
}

.dots {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;

  ul {
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;
    background-color: $pureWhite;
    transform: translateY(15px);

    li {
      display: inline-block;
      margin-left: 0.5rem;

      a {
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 6px;
        background-color: $white;
        font-size: 0;

        &.active,
        &:hover {
          @extend %hover;

          background-color: $primary;
        }
      }
    }
  }
}

.fadeIn {
  animation: fade-in 250ms ease-in;
}

.fadeOut {
  animation: fade-out 250ms ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: $desktop-breakpoint) {
  .root .panel {
    .heading h3 {
      font-size: 16px;
    }

    .menu {
      text-align: right;

      ul li {
        font-weight: 400;

        a {
          font-size: 14px;
        }
      }
    }

    .dots {
      position: relative;
      border: none;

      ul {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        background-color: inherit;

        li {
          margin: 0 10px;
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .root .panelBar {
    .menu {
      text-align: left;
      border: none;

      ul li {
        margin: 0;
        padding: 10px 10px 0 0;
        border-bottom: 4px solid $newFurniture-border;
      }
    }
  }
}
